# Chat AI (Sarvam AI)
openai==1.58.1

# Database
sqlalchemy==2.0.44
psycopg2-binary==2.9.11
alembic==1.17.2
python-dotenv==1.2.1

# FastAPI backend
fastapi>=0.95.0
uvicorn[standard]>=0.22.0
python-multipart
httpx>=0.24.0

# ML / AI
tensorflow==2.20.0
numpy>=1.23.0
pillow>=9.0.0
scipy>=1.8.0
matplotlib>=3.5.0
scikit-learn
tqdm

# Computer Vision
ultralytics
opencv-python-headless

# PyTorch
torch
torchvision
torchaudio
segmentation-models-pytorch